# Directories
results/
temp/
mlruns/
data/
models/
*.egg-info/
utils_old/

# File Types
*.csv
*.log
*.zip
*.pkl

# Environmental Variables
.env

# Configs
__pycache__/
*.py[cod]
.vscode

# airflow
airflow.*
*webserver*
logs/